n8n_workflows/SOCIAL_B_GENERA_CONTENUTO_DA_RIGA.json
{
  "name": "SOCIAL_B_GENERA_CONTENUTO_DA_RIGA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?status=eq.IDEA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n2",
      "name": "Read CALENDARIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brand?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n4",
      "name": "Read BRAND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/prodotti?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n5",
      "name": "Read PRODOTTI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const brands = $('Read BRAND').first().json || [];\nconst products = $('Read PRODOTTI').first().json || [];\nconst rows = $('Read CALENDARIO').first().json || [];\nreturn rows.map(r => {\n  const brand = brands.find(b => b.cliente_id === r.cliente_id) || {};\n  const prod = products.find(p => p.cliente_id === r.cliente_id && p.product_id === r.product_id) || {};\n  return { json: { row: r, brand, product: prod } };\n});"
      },
      "id": "n6",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Agisci come copywriter social per brand abbigliamento. Trasforma idea editoriale in contenuto pronto.\\n\\nBRAND:\\n\" + JSON.stringify($json.brand) + \"\\n\\nPRODOTTO:\\n\" + JSON.stringify($json.product) + \"\\n\\nIDEA:\\n\" + JSON.stringify($json.row) + \"\\n\\nRegole: caption naturale, hook forte, CTA, 8-12 hashtag. Non inventare prezzi/taglie. Se reel: script 15-20s. Se carousel: testo slide-by-slide.\\n\\nOutput SOLO JSON: {\\\"hook\\\":\\\"\\\",\\\"caption\\\":\\\"\\\",\\\"hashtag\\\":\\\"\\\",\\\"cta\\\":\\\"\\\",\\\"idea_visual\\\":\\\"\\\",\\\"script_video\\\":\\\"\\\",\\\"struttura_carosello\\\":\\\"\\\",\\\"status\\\":\\\"DA_APPROVARE\\\"}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n7",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC",
          "name": "Anthropic x-api-key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.content?.[0]?.text || '';\nconst m = txt.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('No JSON in response');\nconst parsed = JSON.parse(m[0]);\nconst row = $('Merge Context').item.json.row;\nreturn [{ json: { id_contenuto: row.id_contenuto, ...parsed } }];"
      },
      "id": "n8",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $json.cliente_id }}&id_contenuto=eq.{{ $json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"hook\": \"{{ $json.hook }}\", \"caption\": \"{{ $json.caption }}\", \"hashtag\": \"{{ $json.hashtag }}\", \"cta\": \"{{ $json.cta }}\", \"status\": \"DA_APPROVARE\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n9",
      "name": "Update Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule 30min": {
      "main": [
        [
          {
            "node": "Read CALENDARIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CALENDARIO": {
      "main": [
        [
          {
            "node": "Read BRAND",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read PRODOTTI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read BRAND": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PRODOTTI": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Rome",
    "executionOrder": "v1"
  }
}
