n8n_workflows/SOCIAL_C_PUBBLICA_APPROVATI.json
{
  "name": "SOCIAL_C_PUBBLICA_APPROVATI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/settings?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n2",
      "name": "Read SETTINGS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n3",
      "name": "Read CALENDARIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/account_social?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n4",
      "name": "Read ACCOUNT_SOCIAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/prodotti?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n5",
      "name": "Read PRODOTTI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/promo?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n6",
      "name": "Read PROMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const settingsArr = $('Read SETTINGS').first().json;\nconst accounts = Array.isArray($('Read ACCOUNT_SOCIAL').first().json) ? $('Read ACCOUNT_SOCIAL').first().json : [];\nconst products = Array.isArray($('Read PRODOTTI').first().json) ? $('Read PRODOTTI').first().json : [];\nconst promos = Array.isArray($('Read PROMO').first().json) ? $('Read PROMO').first().json : [];\nconst rows = Array.isArray($('Read CALENDARIO').first().json) ? $('Read CALENDARIO').first().json : [];\nconst getSettings = (clienteId) => {\n  const scoped = Array.isArray(settingsArr) ? settingsArr.filter(s => s.cliente_id === clienteId) : [];\n  const settings = {};\n  for (const i of scoped) settings[i.chiave] = i.valore;\n  return settings;\n};\nconst now = new Date();\nconst pad = n => String(n).padStart(2,'0');\nconst todayStr = now.getFullYear() + '-' + pad(now.getMonth()+1) + '-' + pad(now.getDate());\nconst hhmm = pad(now.getHours()) + ':' + pad(now.getMinutes());\nconst nowIso = now.toISOString();\nconst out = [];\nfor (const r of rows) {\n  if (r.status !== 'APPROVATO') continue;\n  if (r.publish_lock_id && String(r.publish_lock_id).trim() !== '') continue;\n  if (!r.data_pubblicazione || r.data_pubblicazione > todayStr) continue;\n  if (r.data_pubblicazione === todayStr && (r.ora_pubblicazione || '00:00') > hhmm) continue;\n  const settings = getSettings(r.cliente_id);\n  if (String(settings.automation_enabled).toUpperCase() !== 'TRUE') continue;\n  const dryRun = String(settings.dry_run).toUpperCase() === 'TRUE';\n  const maxRetry = parseInt(settings.max_retry || '2', 10);\n  const defaultUtm = settings.default_utm_campaign || 'social_default';\n  const stockCheck = String(settings.stock_check_required).toUpperCase() === 'TRUE';\n  const mediaCheck = String(settings.media_validation_required).toUpperCase() === 'TRUE';\n  const errs = [];\n  if (!r.cliente_id) errs.push('cliente_id mancante');\n  if (!r.caption || !String(r.caption).trim()) errs.push('caption vuota');\n  if (!r.canale) errs.push('canale vuoto');\n  if (!r.formato) errs.push('formato vuoto');\n  if (!r.link_media_1) errs.push('link_media_1 vuoto');\n  if (!r.media_type) errs.push('media_type vuoto');\n  if (r.checked_copy !== 'SI') errs.push('checked_copy != SI');\n  if (r.checked_media !== 'SI') errs.push('checked_media != SI');\n  if (r.checked_link !== 'SI') errs.push('checked_link != SI');\n  if (mediaCheck && r.media_validato !== 'SI') errs.push('media_validato != SI');\n  const fonteSensible = ['foto_cliente','influencer','ugc'].includes(r.fonte_media);\n  if (fonteSensible && r.consenso_utilizzo !== 'SI') errs.push('consenso_utilizzo mancante');\n  const acc = accounts.find(a => a.cliente_id === r.cliente_id && a.canale === r.canale && a.attivo === 'SI');\n  if (!acc) errs.push('account social non attivo');\n  else {\n    const formats = String(acc.formati_permessi || '').split(',').map(s => s.trim()).filter(Boolean);\n    if (formats.length && !formats.includes(r.formato)) errs.push('formato non consentito per account');\n    if (!acc.platform_account_id || !String(acc.platform_account_id).trim()) errs.push('platform_account_id mancante');\n  }\n  if (r.product_id) {\n    const p = products.find(x => x.cliente_id === r.cliente_id && x.product_id === r.product_id);\n    if (p) {\n      if (p.prodotto_attivo !== 'SI') errs.push('prodotto non attivo');\n      if (stockCheck && p.stock_status === 'esaurito') errs.push('prodotto esaurito');\n    }\n  }\n  if (r.promo_id) {\n    const pr = promos.find(x => x.cliente_id === r.cliente_id && x.promo_id === r.promo_id);\n    if (!pr) errs.push('promo non trovata');\n    else {\n      if (pr.promo_attiva !== 'SI') errs.push('promo non attiva');\n      if (pr.promo_data_inizio && todayStr < pr.promo_data_inizio) errs.push('promo non ancora iniziata');\n      if (pr.promo_data_fine && todayStr > pr.promo_data_fine) errs.push('promo scaduta');\n      const channels = String(pr.canali_abilitati || '').split(',').map(s => s.trim()).filter(Boolean);\n      if (channels.length && !channels.includes(r.canale)) errs.push('canale non abilitato per promo');\n      const prods = String(pr.prodotti_inclusi || '').toUpperCase();\n      if (prods && prods !== 'TUTTI' && !prods.split(',').map(s => s.trim()).includes(r.product_id)) errs.push('prodotto non incluso in promo');\n    }\n  }\n  let utm_final = '';\n  if (r.link_prodotto) {\n    const sep = r.link_prodotto.includes('?') ? '&' : '?';\n    const params = new URLSearchParams({ utm_source: r.utm_source || r.canale, utm_medium: r.utm_medium || 'social', utm_campaign: r.utm_campaign || defaultUtm, utm_content: r.utm_content || r.id_contenuto });\n    utm_final = r.link_prodotto + sep + params.toString();\n  }\n  const mediaUrls = [r.link_media_1, r.link_media_2, r.link_media_3, r.link_media_4, r.link_media_5, r.link_media_6, r.link_media_7].filter(u => u && String(u).trim() !== '');\n  if (!mediaUrls.length) errs.push('nessun media URL valido');\n  out.push({ json: { ...r, _errs: errs, _dryRun: dryRun, _maxRetry: maxRetry, _accountId: acc ? acc.platform_account_id : '', _mediaUrls: mediaUrls, _link_prodotto_finale: utm_final, _lockId: r.id_contenuto + '_' + Date.now(), _nowIso: nowIso } });\n}\nreturn out;"
      },
      "id": "n7",
      "name": "Validate All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._errs.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n8",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $json.cliente_id }}&id_contenuto=eq.{{ $json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"ERRORE\", \"errore_tecnico\": \"{{ $json._errs.join('; ') }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n9",
      "name": "Mark ERRORE Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $json.cliente_id }}&id_contenuto=eq.{{ $json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"IN_PUBBLICAZIONE\", \"publish_lock_id\": \"{{ $json._lockId }}\", \"link_prodotto_finale\": \"{{ $json._link_prodotto_finale }}\", \"platform_account_id\": \"{{ $json._accountId }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n10",
      "name": "Lock + UTM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $json._dryRun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n11",
      "name": "IF Dry Run",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/log_pubblicazioni",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"cliente_id\": \"{{ $json.cliente_id }}\", \"timestamp\": \"{{ $json._nowIso }}\", \"id_contenuto\": \"{{ $json.id_contenuto }}\", \"canale\": \"{{ $json.canale }}\", \"formato\": \"{{ $json.formato }}\", \"status_precedente\": \"APPROVATO\", \"status_finale\": \"DRY_RUN_OK\", \"messaggio\": \"Dry run simulato, nessuna chiamata Blotato\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n12",
      "name": "Log Dry Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $json.cliente_id }}&id_contenuto=eq.{{ $json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"APPROVATO\", \"publish_lock_id\": null }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n20",
      "name": "Reset Lock DryRun",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.blotato.com/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountId\": \"{{ $json._accountId }}\",\n  \"platform\": \"{{ $json.canale }}\",\n  \"mediaType\": \"{{ $json.media_type }}\",\n  \"mediaUrls\": {{ JSON.stringify($json._mediaUrls) }},\n  \"caption\": {{ JSON.stringify(($json.caption || '') + ($json.hashtag ? '\\n\\n' + $json.hashtag : '') + ($json._link_prodotto_finale ? '\\n\\n' + $json._link_prodotto_finale : '')) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n13",
      "name": "Blotato Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BLOTATO",
          "name": "Blotato API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ ($json.statusCode || 999) }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "s2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "s3",
              "leftValue": "={{ ($json.id || $json.postId || \"\") }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n14",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        360
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $('Validate All').item.json.cliente_id }}&id_contenuto=eq.{{ $('Validate All').item.json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"PUBBLICATO\", \"blotato_post_id\": \"{{ $json.id || $json.postId || \"\" }}\", \"publish_lock_id\": null, \"errore_tecnico\": null }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n15",
      "name": "Mark PUBBLICATO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/log_pubblicazioni",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"cliente_id\": \"{{ $('Validate All').item.json.cliente_id }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"id_contenuto\": \"{{ $('Validate All').item.json.id_contenuto }}\", \"canale\": \"{{ $('Validate All').item.json.canale }}\", \"formato\": \"{{ $('Validate All').item.json.formato }}\", \"status_precedente\": \"IN_PUBBLICAZIONE\", \"status_finale\": \"PUBBLICATO\", \"blotato_post_id\": \"{{ $json.id || $json.postId || '' }}\", \"messaggio\": \"ok\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n16",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Validate All').item.json;\nconst retryCount = parseInt(ctx.retry_count || '0', 10);\nconst maxRetry = ctx._maxRetry || 2;\nconst nextRetry = retryCount + 1;\nconst definitive = nextRetry >= maxRetry;\nreturn [{ json: { cliente_id: ctx.cliente_id, id_contenuto: ctx.id_contenuto, canale: ctx.canale, formato: ctx.formato, retry_count: nextRetry, last_retry_at: new Date().toISOString(), definitive, next_status: definitive ? 'ERRORE_MANUALE' : 'APPROVATO', next_lock: null, errore_tecnico: JSON.stringify($json).slice(0, 500) } }];"
      },
      "id": "n17",
      "name": "Compute Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        460
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario?cliente_id=eq.{{ $json.cliente_id }}&id_contenuto=eq.{{ $json.id_contenuto }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"{{ $json.next_status }}\", \"publish_lock_id\": {{ $json.next_lock }}, \"retry_count\": {{ $json.retry_count }}, \"last_retry_at\": \"{{ $json.last_retry_at }}\", \"errore_tecnico\": \"{{ $json.errore_tecnico }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n18",
      "name": "Mark Retry/Errore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/log_pubblicazioni",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"cliente_id\": \"{{ $json.cliente_id }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"id_contenuto\": \"{{ $json.id_contenuto }}\", \"canale\": \"{{ $json.canale }}\", \"formato\": \"{{ $json.formato }}\", \"status_precedente\": \"IN_PUBBLICAZIONE\", \"status_finale\": \"{{ $json.next_status }}\", \"errore\": \"{{ $json.errore_tecnico }}\" }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n19",
      "name": "Log Errore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUPABASE",
          "name": "Supabase API"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule 15min": {
      "main": [
        [
          {
            "node": "Read SETTINGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SETTINGS": {
      "main": [
        [
          {
            "node": "Read CALENDARIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CALENDARIO": {
      "main": [
        [
          {
            "node": "Read ACCOUNT_SOCIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ACCOUNT_SOCIAL": {
      "main": [
        [
          {
            "node": "Read PRODOTTI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PRODOTTI": {
      "main": [
        [
          {
            "node": "Read PROMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PROMO": {
      "main": [
        [
          {
            "node": "Validate All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate All": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Lock + UTM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark ERRORE Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock + UTM": {
      "main": [
        [
          {
            "node": "IF Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Dry Run": {
      "main": [
        [
          {
            "node": "Log Dry Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blotato Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Dry Run": {
      "main": [
        [
          {
            "node": "Reset Lock DryRun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blotato Publish": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Mark PUBBLICATO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark PUBBLICATO": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Retry": {
      "main": [
        [
          {
            "node": "Mark Retry/Errore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Retry/Errore": {
      "main": [
        [
          {
            "node": "Log Errore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Rome",
    "executionOrder": "v1",
    "errorWorkflow": "SOCIAL_H_ERROR_HANDLER"
  }
}
